<app-header></app-header>
<section class="section section-divider gray about" id="about">
    <div class="container">

      <div class="about-banner">
        <img src="assets/dtHays.webp" width="509" height="459" alt="Downtown Hays"
          class="w-100 about-img">

        <img src="assets/cityHays.png" width="216" height="226" alt="Hays city"
          class="abs-img scale-up-anim">
      </div>

      <div class="about-content">

        <h2 class="h2 section-title">
          Breakfast, Pizza, and Best Burgers
          <span class="span">in Town!</span>
        </h2>

        <p class="section-text">
          The restaurant was opened in 2010 and from day one has been one of Hays's go to spots to eat. No matter what you are feeling like we have it!
        </p>
<!-- 
        <button class="btn btn-hover">Order Now</button> -->

      </div>

    </div>
  </section>
<app-footer></app-footer>
