
<header class="header" data-header>
  <div class="container">

    <h1>
      <a routerLink="/" class="logo">HaysKitchen<span class="span">.</span></a>
    </h1>

    <nav class="navbar" data-navbar>
      
      <ul class="navbar-list">

        <li class="nav-item">
          <a class="navbar-link" data-nav-link routerLink="/about">About</a>
        </li>

        <li class="nav-item">
          <a class="navbar-link" data-nav-link routerLink="/order">Order</a>
        </li>

        <li class="nav-item">
          <a class="navbar-link" data-nav-link routerLink="/register">Login/Register</a>
        </li>

      </ul>
    </nav>

    <div class="header-btn-group">
     

      <button class="btn btn-hover">Bag</button>

      <button class="nav-toggle-btn" aria-label="Toggle Menu">
        <span class="line top"></span>
        <span class="line middle"></span>
        <span class="line bottom"></span>
      </button>
    </div>

  </div>
</header>
