<app-header></app-header>
<form [formGroup]="userLogin" (submit)="login()" #loginForm="ngForm" >
    <div class="form-outline mb-4">
      <input type="text" name="adminUsername" class="form-control" placeholder="Enter Username" required formControlName="username" />
      <label class="form-label" for="adminUsername">Username</label>
    </div>
  
    <div class="form-outline mb-4">
      <input type="password" name="adminPassword" class="form-control" placeholder="Enter Password" required formControlName="password" />
      <label class="form-label" for="adminPassword">Password</label>
    </div>

    <div *ngIf="loginError" class="text-danger fw-bold">Invalid username or password</div>

  

  
    <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="loginForm.invalid">Sign in</button>
  </form>