<!-- 
  - #HEADER
-->
<header class="header" data-header>
  <div class="container">

    <h1>
      <a href="#" class="logo">HaysKitchen<span class="span">.</span></a>
    </h1>

    <nav class="navbar" data-navbar [class.active]="status">
      <ul class="navbar-list">

        <li class="nav-item">
          <a href="#home" class="navbar-link" data-nav-link>Home</a>
        </li>

        <li class="nav-item">
          <a href="#about" class="navbar-link" data-nav-link>About Us</a>
        </li>

        <li class="nav-item">
          <a href="#food-menu" class="navbar-link" data-nav-link>Shop</a>
        </li>

      </ul>
    </nav>

    <div class="header-btn-group">
     

      <button class="btn btn-hover">Employees</button>

      <button class="nav-toggle-btn" aria-label="Toggle Menu" data-menu-toggle-btn (click)="addToggle()">
        <span class="line top"></span>
        <span class="line middle"></span>
        <span class="line bottom"></span>
      </button>
    </div>

  </div>
</header>


<main>
  <article>

    <!-- 
      - #HERO
    -->

    <section class="hero" id="home">
      <div class="container">

        <div class="hero-content">

          <h2 class="h1 hero-title">Freshest Kitchen in Hays!</h2>

          <p class="hero-text">Food is any substance consumed to provide nutritional support for an organism.</p>

          <button class="btn">Book A Table</button>

        </div>

      </div>
    </section>


    <!-- 
      - #ABOUT
    -->

    <section class="section section-divider gray about" id="about">
      <div class="container">

        <div class="about-banner">
          <img src="assets/dtHays.webp" width="509" height="459" alt="Downtown Hays"
            class="w-100 about-img">

          <img src="assets/cityHays.png" width="216" height="226" alt="Hays city"
            class="abs-img scale-up-anim">
        </div>

        <div class="about-content">

          <h2 class="h2 section-title">
            Breakfast, Pizza, and Best Burgers
            <span class="span">in Town!</span>
          </h2>

          <p class="section-text">
            The restaurants in Hangzhou also catered to many northern Chinese who had fled south from Kaifeng during
            the Jurchen
            invasion of the 1120s, while it is also known that many restaurants were run by families.
          </p>
<!-- 
          <button class="btn btn-hover">Order Now</button> -->

        </div>

      </div>
    </section>


    <!-- 
      - #FOOD MENU
    -->

    <section class="section food-menu" id="food-menu">
      <div class="container">

        <p class="section-subtitle">Popular Dishes</p>

        <h2 class="h2 section-title">
          Our Delicious <span class="span">Foods</span>
        </h2>

        <p class="section-text">
          Food is any substance consumed to provide nutritional support for an organism.
        </p>

        <ul class="fiter-list">

          <li>
            <button class="filter-btn  active">All</button>
          </li>

          <li>
            <button class="filter-btn">Pizza</button>
          </li>

          <li>
            <button class="filter-btn">Burger</button>
          </li>

          <li>
            <button class="filter-btn">Drinks</button>
          </li>

          <li>
            <button class="filter-btn">Sandwich</button>
          </li>

        </ul>

        <ul class="food-menu-list">

          <li>
            <div class="food-menu-card">

              <div class="card-banner">
                <img src="assets/images/food-menu-1.png" width="300" height="300" loading="lazy"
                  alt="item.itemName" class="w-100">

                <button class="btn food-menu-btn">Order Now</button>
              </div>

              <div class="wrapper">
                <p class="category">item.category</p>
              </div>

              <h3 class="h3 card-title">item.itemName</h3>

              <div class="price-wrapper">

                <p class="price-text">Price:</p>

                <data class="price">$item.price</data>

              </div>

            </div>
          </li>

          <li>
            <div class="food-menu-card">

              <div class="card-banner">
                <img src="assets/images/food-menu-2.png" width="300" height="300" loading="lazy"
                  alt="Burger King Whopper" class="w-100">

                <button class="btn food-menu-btn">Order Now</button>
              </div>

              <div class="wrapper">
                <p class="category">Noddles</p>
              </div>

              <h3 class="h3 card-title">Burger King Whopper</h3>

              <div class="price-wrapper">

                <p class="price-text">Price:</p>

                <data class="price" value="29.00">$29.00</data>

              </div>

            </div>
          </li>

          <li>
            <div class="food-menu-card">

              <div class="card-banner">
                <img src="assets/images/food-menu-3.png" width="300" height="300" loading="lazy"
                  alt="White Castle Pizzas" class="w-100">


                <button class="btn food-menu-btn">Order Now</button>
              </div>

              <div class="wrapper">
                <p class="category">Pizzas</p>
              </div>

              <h3 class="h3 card-title">White Castle Pizzas</h3>

              <div class="price-wrapper">

                <p class="price-text">Price:</p>

                <data class="price" value="49.00">$49.00</data>

              </div>

            </div>
          </li>

          <li>
            <div class="food-menu-card">

              <div class="card-banner">
                <img src="assets/images/food-menu-4.png" width="300" height="300" loading="lazy"
                  alt="Bell Burrito Supreme" class="w-100">


                <button class="btn food-menu-btn">Order Now</button>
              </div>

              <div class="wrapper">
                <p class="category">Burrito</p>
              </div>

              <h3 class="h3 card-title">Bell Burrito Supreme</h3>

              <div class="price-wrapper">

                <p class="price-text">Price:</p>

                <data class="price" value="59.00 ">$59.00</data>

              </div>

            </div>
          </li>

          <li>
            <div class="food-menu-card">

              <div class="card-banner">
                <img src="assets/images/food-menu-5.png" width="300" height="300" loading="lazy"
                  alt="Kung Pao Chicken BBQ" class="w-100">


                <button class="btn food-menu-btn">Order Now</button>
              </div>

              <div class="wrapper">
                <p class="category">Nuggets</p>
              </div>

              <h3 class="h3 card-title">Kung Pao Chicken BBQ</h3>

              <div class="price-wrapper">

                <p class="price-text">Price:</p>

                <data class="price" value="49.00">$49.00</data>

              </div>

            </div>
          </li>

          <li>
            <div class="food-menu-card">

              <div class="card-banner">
                <img src="assets/images/food-menu-6.png" width="300" height="300" loading="lazy"
                  alt="Wendy's Chicken" class="w-100">


                <button class="btn food-menu-btn">Order Now</button>
              </div>

              <div class="wrapper">
                <p class="category">Chicken</p>
              </div>

              <h3 class="h3 card-title">Wendy's Chicken</h3>

              <div class="price-wrapper">

                <p class="price-text">Price:</p>

                <data class="price" value="49.00">$49.00</data>

              </div>

            </div>
          </li>

        </ul>


      </div>
    </section>

  </article>
</main>

<!-- 
  - #FOOTER
-->

<footer class="footer">

  <div class="footer-top">
    <div class="container">

      <div class="footer-brand">

        <a href="" class="logo">HaysKitchen<span class="span">.</span></a>

        <p class="footer-text">Fresher than Fresh</p>

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">Facebook
            </a>
          </li>

          <li>
            <a href="#" class="social-link">Twitter
            </a>
          </li>

          <li>
            <a href="#" class="social-link">Instagram
            </a>
          </li>

        </ul>

      </div>

      <ul class="footer-list">

        <li>
          <p class="footer-list-title">Contact Info</p>
        </li>

        <li>
          <p class="footer-list-item">+(785) 123-4567</p>
        </li>

        <li>
          <p class="footer-list-item">support&#64;hayskitchen.com</p>
        </li>

        <li>
          <address class="footer-list-item">1234 Vine St, Hays KS</address>
        </li>

      </ul>

      <ul class="footer-list">

        <li>
          <p class="footer-list-title">Opening Hours</p>
        </li>

        <li>
          <p class="footer-list-item">Monday-Thursday: 11:00-21:00</p>
        </li>

        <li>
          <p class="footer-list-item">Friday-Saturday: 11:00-22:00</p>
        </li>

        <li>
          <p class="footer-list-item">Sunday: Closed</p>
        </li>

      </ul>

    </div>
  </div>

</footer>